import React from 'react';
{{#if css}}import styles from './{{componentName}}.css';
{{/if}}

function {{componentName}}() {
  return (
    {{#if css}}<div className={styles.normal}>{{else}}<div>{{/if}}
      Component: {{componentName}}
    </div>
  );
}

export default {{componentName}};
