import React from 'react';
import { connect } from 'dva';
{{#if css}}import styles from './{{componentName}}.css';
{{/if}}

function {{componentName}}() {
  return (
    {{#if css}}<div className={styles.normal}>{{else}}<div>{{/if}}
      Route Component: {{componentName}}
    </div>
  );
}

function mapStateToProps() {
  return {};
}

export default connect(mapStateToProps)({{componentName}});
